In [12]:
#Functioning of pandas

import pandas as pd
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Ananya', 'Sanika', 'Aastha'],
    'Age': [25, 30, 35],
    'City': ['France', 'India', 'Chicago']
}
df = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df)

DataFrame from dictionary:
     Name  Age     City
0  Ananya   25   France
1  Sanika   30    India
2  Aastha   35  Chicago

In [5]:
# Creating a DataFrame from a list of lists
data = [
    ['Lee', 25, 'China'],
    ['Sanika', 30, 'Japan'],
    ['Charlie', 35, 'Chicago']
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print("DataFrame from list of lists:")
print(df)

DataFrame from list of lists:
      Name  Age     City
0      Lee   25    China
1   Sanika   30    Japan
2  Charlie   35  Chicago

In [6]:
# Add a new column
df['Occupation'] = ['Engineer', 'Doctor', 'Artist']
print("DataFrame after adding a new column:")
print(df)

DataFrame after adding a new column:
      Name  Age     City Occupation
0      Lee   25    China   Engineer
1   Sanika   30    Japan     Doctor
2  Charlie   35  Chicago     Artist

In [7]:
# Drop a column
df_dropped = df.drop('Occupation', axis=1)
print("DataFrame after dropping the 'Occupation' column:")
print(df_dropped)

DataFrame after dropping the 'Occupation' column:
      Name  Age     City
0      Lee   25    China
1   Sanika   30    Japan
2  Charlie   35  Chicago

In [9]:
# Sort by a single column
df_sorted = df.sort_values(by='Age')
print("DataFrame sorted by Age:")
print(df_sorted)

DataFrame sorted by Age:
      Name  Age     City Occupation
0      Lee   25    China   Engineer
1   Sanika   30    Japan     Doctor
2  Charlie   35  Chicago     Artist

In [10]:
# Sort by multiple columns
df_sorted_multi = df.sort_values(by=['City', 'Age'])
print("DataFrame sorted by City and then by Age:")
print(df_sorted_multi)

DataFrame sorted by City and then by Age:
      Name  Age     City Occupation
2  Charlie   35  Chicago     Artist
0      Lee   25    China   Engineer
1   Sanika   30    Japan     Doctor

In [11]:
# Group by a column and aggregate
grouped = df.groupby('City').mean(numeric_only=True)
print("Grouped by City and mean values:")
print(grouped)

Grouped by City and mean values:
         Age
City
Chicago   35
China     25
Japan     30